html {
    scroll-behavior: smooth;
}
:root {
    --body-bg: #fff;
    --body-color: #000;
}
html,
body {
    background: rgb(30, 30, 30);
    color: white;
    overflow-x: hidden;
}

.card {
    position: relative;
}

.card .badge {
    position: absolute;

    top: 1em;
    right: 1.25em;

    box-shadow: 5px 10px 8px #0000005a;
}

.alt-bg {
    background: #343a40;
}

.alt-bg:last-child {
    padding-top: 3em;
    padding-bottom: 3em;
}
.navbar {
    background-color: black !important;
}
.text-muted {
    color: rgba(255, 255, 255, 0.575) !important;
}
.modal-header h5 {
    color: black !important;
}

.modal label {
    color: black;
}

.modal-body {
    color: black;
}
